<article class="post">

  <header class="post-header">
    <h2 class="post-title"><a href="/<%=@post[:title].parameterize("-")%>/<%=@post[:id]%>"><%=@post[:title]%></a></h2>
      <p class="post-date" datetime="<%=@post[:created_at].strftime("%d %B %Y")%>"><%=@post[:created_at].strftime("%d %B %Y")%> by <%=@post.user[:username]%></p>
  </header>

  <section class="post-content">
    <%==markdown(@post[:content])%>
  </section>

</article>
