<article class="post">

  <header class="post-header">
    <h2 class="post-title"><a href="<%=url_for(:index, :title => @post.title.to_slug, :id => @post.id) %>"><%=@post.title%></a></h2>
    <header class="post-meta" style='margin-bottom:20px;'>
      Written by <a href="<%= url_for(:index) %>"><%=@post.user.username %></a>
      <time class="post-date" datetime="2015-11-18"><%=@post.created_at.strftime("%d %B %Y")%></time><br><br>
    </header>
  </header>

  <section class="post-content">
    <%==@post.content%>
  </section>

</article>
