<% form_for :user, "/admin/user/save/#{params[:id]}", :id => 'admin-form', :multipart => true do |f| %>

<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">Users</h2>
  </div>
  <div class="btn-toolbar dashhead-toolbar">

    <button class="btn btn-primary-outline">Save User</button>
    <!-- <div class="btn-toolbar-item input-with-icon">
      <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
      <span class="icon icon-calendar"></span>
    </div> -->
  </div>
</div>
<hr class="m-t">

<h3>Contact</h3>

<section class="content-header">
  
  
  <div class="field row" id="field_name">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :first_name, :caption => "First Name", :required => true %>
        <%= f.text_field :first_name, :class => 'form-control', :required => true %>
      </div>
      <!-- /.form-group -->
    </div>
    <!-- /.col -->
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :last_name, :caption => "Last Name", :required => true %>
        <%= f.text_field :last_name, :class => 'form-control', :required => true %>
      </div>
      <!-- /.form-group -->
    </div>
  </div>
  <!-- /.row -->
  <div class="field row" id="field_email">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :email, :caption => "Email", :required => true %>
        <%= f.text_field :email, :type => 'email', :class => 'form-control' %>
      </div>
      <!-- /.form-group -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
  <div class="field row" id="field_phone">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :phone, :caption => "Phone", :required => true %>
        <%= f.text_field :phone, :type => 'phone', :class => 'form-control' %>
      </div>
      <!-- /.form-group -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
  
  
  


  <hr>

  
  <h3>Misc</h3>

  <div class="field row" id="field_company">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :hear_about_us_option, :caption => "How did you hear?" %>
        <%= f.text_field :hear_about_us_option, :class => 'form-control' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :hear_about_us_other, :caption => "Other" %>
        <%= f.text_field :hear_about_us_other, :class => 'form-control' %>
      </div>
    </div>
  </div>





  <!-- /.box -->
</section>
<% end %>