<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>
    
    Overview &middot;
    
    </title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://v4-alpha.getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">
    <link href="/admin/assets/css/toolkit-light.css" rel="stylesheet">
    <link href="/admin/assets/css/application.css" rel="stylesheet">
    <style>
    /* note: this is a hack for ios iframe for bootstrap themes shopify page */
    /* this chunk of css is not part of the toolkit :) */
    body {
    width: 1px;
    min-width: 100%;
    *width: 100%;
    }
    </style>
  </head>
  <body>
    
    <div class="container">

      <% if !flash.nil? %>
      <div class="row">
        <div class="col-md-12">
          <%= flash_tag(:notice, :class => 'alert alert-info', :role => 'alert') %>
          <%= flash_tag(:notice, :class => 'alert alert-warning', :role => 'alert') %>
          <%= flash_tag(:error, :class => 'alert alert-danger', :role => 'alert') %>
          <%= flash_tag(:success, :class => 'alert alert-success', :role => 'alert') %>
        </div>
      </div>
      <% end %>
      
      <div class="row">
        <div class="col-sm-3 sidebar">
          <nav class="sidebar-nav">
            <div class="sidebar-header">
              <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
              <span class="sr-only">Toggle nav</span>
              </button>
              <a class="sidebar-brand img-responsive" href="/admin">
                <span class="icon icon-leaf sidebar-brand-icon"></span> Honeybadger
              </a>
            </div>
            <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
              <!-- <form class="sidebar-form">
                <input class="form-control" type="text" placeholder="Search...">
                <button type="submit" class="btn-link">
                <span class="icon icon-magnifying-glass"></span>
                </button>
              </form> -->
              <ul class="nav nav-pills nav-stacked">
                <li class="nav-header">Dashboards</li>
                <li class="<%= set_active_on_match(/admin$/) %>">
                  <a href="/admin">Overview</a>
                </li>
                <li class="<%= set_active_on_match(/admin\/user/) %>">
                  <a href="/admin/users">Users</a>
                </li>
                <li class="<%= set_active_on_match(/admin\/post/) %>">
                  <a href="/admin/posts">Posts</a>
                </li>
                <br>
                <ul class="nav nav-pills nav-stacked">
                  <li class="nav-header">Administrative</li>
                  <li class="<%= set_active_on_match(/admin\/myaccount/) %>">
                    <a href="/admin/myaccount">My Account</a>
                  </li>
                  <li>
                    <a href="/user/logout">Logout</a>
                  </li>
                </ul>
                <hr class="visible-xs m-t">
              </div>
            </nav>
          </div>
          <div class="col-sm-9 content">
            
            <%=yield%>
          </div>
        </div>
        <div id="docsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Example modal</h4>
              </div>
              <div class="modal-body">
                <p>You're looking at an example modal in the dashboard theme.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cool, got it!</button>
              </div>
            </div>
          </div>
        </div>
        <script src="/admin/assets/js/jquery.min.js"></script>
        <script src="/admin/assets/js/chart.js"></script>
        <script src="/admin/assets/js/tablesorter.min.js"></script>
        <script src="/admin/assets/js/toolkit.js"></script>
        <script src="/admin/assets/js/application.js"></script>
        <script>
        // execute/clear BS loaders for docs
        $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
        </script>
      </body>
    </html>